Requirements
============
Below list the requirements needed to run the application.

The full Github repository is located at `here <https://github.com/MSDS698/whatrthose>`_ where all necessary files for this application resides.

1. Anaconda3 installed on local machine with Python 3.7.x
#. An Amazon Web Services (AWS) Elastic Compute Computer (EC2) instance running with:

   a. Anaconda3 installed on the server instance with Python 3.7.x
   #. Git installed
   #. Github credentials for an authorized Github user are stored


