<!DOCTYPE html>
<html>
<head>
	<title>What R Those?</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="app.css">
	<link href="https://fonts.googleapis.com/css?family=Amiri:400,800|Arvo:400,700|Gloria+Hallelujah|Indie+Flower|Nanum+Brush+Script|Shrikhand" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="#">What R Those?</a>

	  <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav mr-auto">
	      <ul class="nav navbar-nav navbar-right">
	    	<li><a href="#">Hot 'n New </a></li>
      	  </ul>
      	  <ul class="nav navbar-nav navbar-right">
        	<li><a href="#">Just For You </a></li>
      	  </ul>
      	  <ul class="nav navbar-nav navbar-right">
        	<li><a href="#">Search </a></li>
      	  </ul>
	      <ul class="nav navbar-nav navbar-right">
        	<li><a href="#">Home </a></li>
      	  </ul>
	    </ul>
	  </div>
	</nav>

    <div class="container">
		<div class="jumbotron">
			<h1>What R Those?</h1>
		</div>
		<div>
			<p>{{What R Those? Introduction}}</p>
		</div>
    </div>

</body>
</html>