<!DOCTYPE html>
{%- extends "base_carousel.html" %}
{% import 'macros/flash_macros.html' as f %}

{% block content %}

    <div id="fh5co-services-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box">
            <h2>Upload Your Sneaker Image</h2>
            <div id="uploaded_image"></div>
            </div>
        </div>


    <div class="row justify-content-md-center mt-3">
        <div class="col-md-auto">
            <form id="upload_form" method="POST" class="drag-drop" enctype="multipart/form-data" novalidate> <!-- post : handle submission -->
                {{ form.csrf_token }} <!--  render the form's CSRF field like normal. -->
                <div class="custom-file">
                    {{ form.file_selector(class_="custom-file-input") }}
                    <label id="drag-files-label" class="custom-file-label drag-files-label" for="file_selector" data-browse="Browse">Upload image or drag it here</label>
                </div>
                <div class="submit-button submit-cls">
                    {{ form.submit(class_="btn-success btn-lg btn-block") }}
                </div>
            </form>
            <form id="camera_form" method="POST" enctype="multipart/form-data novalidate">
                <div class="submit-button submit-cls">
                    <input id="start_camera"
                        type="button"
                        class="btn btn-secondary btn-lg btn-block"
                        value="Access Camera"
                        onClick="setup_camera()">
                </div>
            </form>

            <div id="my_result"></div>
        </div>

    </div>

    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <div id="my_camera" style="width: 320px; height: 240px; display:none;">
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <form>
                <div class="btn-group justify-content-md-center mt-3" role="group" aria-label="Basic example">
                    <input id="cancel_camera" class="btn btn-outline-danger cam-button" type="button" value="Cancel Camera" onClick="stop_camera();" style="display:none">
                    <input id="snapshot" type="button" class="btn btn-outline-success cam-button" value="Take Snapshot" onClick="take_snapshot();" style="display:none">
                    <input id="retake_snapshot" type="button" class="btn btn-outline-success cam-button" value="Retake Snapshot" onClick="setup_camera();" style="display:none">
                </div>
            </form>
            {% set flashes = {
            'danger':  get_flashed_messages(category_filter=['form-error']),
            'warning': get_flashed_messages(category_filter=['form-warning']),
            'info':    get_flashed_messages(category_filter=['form-info']),
            'success': get_flashed_messages(category_filter=['form-success'])
            } %}

            {{ f.form_message(flashes['danger'], header='Something went wrong.', class='danger') }}
            {{ f.form_message(flashes['warning'], header='Hmmm...', class='warning') }}
            {{ f.form_message(flashes['info'], header='Information', class='info') }}
            {{ f.form_message(flashes['success'], header='Success!', class='success') }}
        </div>
    </div>
</div>



<script language="JavaScript">
    function setup_camera() {
        $('#my_camera').show();
        Webcam.reset();
        Webcam.attach('#my_camera');

        $('#start_camera').hide();  // Hide "Access Camera" button.
        $('#cancel_camera').show();  // Show "Cancel Camera" and "Snapshot" buttons.
        $('#snapshot').show();
        $('#retake_snapshot').hide();  // Hide "Retake Snapshot" button.
        $('#upload_form').replaceWith($('#upload_form').clone());  // Reset drag-and-drop form.
        $('#upload_form').hide();  // Hide Flask-wtf upload forms.
        $('#uploaded_image').hide();
    }

    function stop_camera() {
        $('#my_camera').hide();
        Webcam.reset();
        $('#cancel_camera').hide();
        $('#snapshot').hide();
        $('#retake_snapshot').hide();
        $('#start_camera').show();
        $('#upload_form').show();
        $('#my_camera').html("");
    }

    function take_snapshot() {
        Webcam.snap( function(data_uri) {
            $('#my_camera').html('<img src="'+data_uri+'"/>');
        });
        $('#snapshot').hide();
        $('#retake_snapshot').show();
    }

    // drag and drop pictures
    //var form = document.getElementById("drag_files");

    //window.addEventListener('load', function(){
    //    ['drag', 'dragstart', 'dragend', 'dragover', 'dragenter', 'dragleave', 'drop'].forEach(function (event) {
    //         form.addEventListener(event, function (e) {
    //         // preventing the unwanted behaviours
    //                 e.preventDefault();
    //                 e.stopPropagation();
    //             });
    //         });
    //});

    //['dragover', 'dragenter'].forEach(function (event) {
    //     form.addEventListener(event, function () {
    //         form.classList.add('dragover');
    //     });
    // });

    //['dragleave', 'dragend', 'drop'].forEach(function (event) {
    //    form.addEventListener(event, function () {
    //        form.classList.remove('dragover');
    //    });
    //});

    //var droppedFiles;

    //form.addEventListener('drop', function (e) {
    //    droppedFiles = e.dataTransfer.files; // the files that were dropped

    //    if (droppedFiles.length > 0)
    //    {
    //        form.querySelector(".drag-files-label").innerHTML = droppedFiles[0].name;

    //        // optional - submit the form on drop
    //        var event = document.createEvent('HTMLEvents');
    //        event.initEvent('submit', true, false);
    //        form.dispatchEvent(event);
    //    }
    //});
    </script>
    
    <!-- image upload JS -->
    <script type="text/javascript" src="static/js/image-upload.js"></script>
    



{% endblock content %}
