<!DOCTYPE html>
{%- extends "base.html" %}

{% block content %}
<div class="container">
    <div class="jumbotron">
		<h1>What R Those</h1>
    </div>
</div>

<div class="container">
    <form method="POST" enctype="multipart/form-data"> <!-- post : handle submission -->
        <h2>Image Upload</h2>
        {{ form.csrf_token }} <!--  render the form's CSRF field like normal. -->
        {{ form.file_selector }}
        <br/>
        {{ form.submit }}
    </form>
</div>
{% endblock content %}

